.contactsFields div{
    font-size: 0.8rem;
    padding: 0;
    text-align: left;
}
.contactsFields label {
    margin: 0 0 0 30px;
    font-weight: 500;
}
@media screen and (max-width: 576px) {
    .contactsFields label {
        margin-left: 0;
    }
    .contactsFields {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contacts-btn-holder .otherButton,
    .contacts-btn-holder .btn-cancel {
        margin-bottom: 10px;
    }
}
#infoPageForm textarea {
    resize: none;
    width: 98%;
    height: calc(100vh - 360px);
    margin: 1% 1% 2% 1%;
    font-size: 0.8rem;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 1px;
}
.twoFactorForm {
    border: 2px solid #2f5496;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    background-color: #f2f2f2;
    max-width: 635px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.twoFactorForm label {
    font-size: 0.7rem;
}
.twoFactorForm a {
    font-size: 1rem;
    text-align: left;
}
.twoFactorForm input {
    border-color: black;
}
.singleBanner, .singleUser {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    border-bottom: 1px groove #4a92f8;
    padding: 10px 0;
}
@media screen and (max-width: 767px) {
    .singleBanner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media screen and (max-width: 480px) {
    .singleBanner {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.singleBlockedUser, .singleBlockedReview, .singleBlockedCongratulation{
    background-color: #c1c1c1;
}
.singleBannerInfo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 20%;
    padding: 0 1%;
}

.singleUserInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    width: 85%;
    padding: 0 1%;
}
.singleUserInfoColumn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0 1%;
}
.singleUserInfoItem {
    padding: 5px 0;
    white-space: nowrap;
}
.singleUserInfoItemNaming {
    font-weight: bolder;
}
.singleBannerDatepicker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
@media screen and (max-width: 767px) {
    .singleBannerDatepicker {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}
@media screen and (max-width: 600px) {
    .singleBannerDatepicker {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
@media screen and (max-width: 576px) {
    .singleBannerDatepicker {
        display: block;
    }
}

.singleBannerDatepicker div {
    padding-bottom: 5px;
}
.singleBannerImageContent, .singleBannerTextContent{
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
@media screen and (max-width: 1024px) {
    .singleBannerInfo {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
@media screen and (max-width: 767px) {
    .singleBannerImageContent,
    .singleBannerInfo {
        width: 100%;
        margin-bottom: 15px;
    }
    .singleBanner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .bannerImagePreviewContainer {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media screen and (max-width: 576px) {

    .bannerImagePreview {
        margin-bottom: 15px;
    }
    .singleBannerImageContent {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
@media screen and (max-width: 576px) {
    .bannerImagePreview .bannerFileUpload {
        max-width: 100%;
    }
    .singleBannerInfo {
        padding-left: 0;
        padding-right: 0;
    }
    .singleBanner {
        padding-left: 10px;
        padding-right: 10px;
    }
    .singleBannerImageContent {
        display: block;
    }

    .bannerImagePreview .select {
        width: 100%;
    }
    #bannerImagePreview {
        margin-left: auto;
        margin-right: auto;
    }
}
.singleBannerControl, .singleUserControl {
    width: 15%;
    padding: 0 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.singleUserControl .otherButton:last-child {
    margin-top: 10px;
}
@media screen and (max-width: 767px) {
    .singleUserControl {
        width: 25%;
    }
    .singleBannerControl {
        width: 50%;
    }

    .singleUserInfo {
        width: 75%;
    }
}

@media screen and (max-width: 576px) {
    .singleUser {
        display: block;
    }

    .singleUserInfo,
    .singleUserControl {
        width: 100%;
    }

    .singleUserControl {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .singleUserControl .otherButton {
        width: calc(33.33% - 10px);
        margin: 0 5px 0;
    }
    .singleUserControl .otherButton:last-child {
        margin-top: 0;
    }
}

@media screen and (max-width: 480px) {
    .singleUserControl .otherButton {
        width: calc(100% - 10px);
        margin-bottom: 10px;
    }
    .singleUserInfo {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .singleBannerControl,
    .singleUserInfoColumn {
        width: 100%;
    }
}

.singleBannerControl .checkbox-item {
    max-width: 100%;
    margin-bottom: 25px;
}
.singleBannerControl .checkbox-item .custom-checkbox{
    position: relative;
    z-index: -1;
    opacity: 0;
}
.singleUserControl button {
    margin-bottom: 10px;
}
.singleUserControl span {
    text-shadow: 1px 1px 5px red;
    font-size: 0.9rem;
}
.singleUserControl a, .singleUserControl a:hover {
    text-decoration: none;
    color: #1b1e21;
}
.adminFilters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid #2f5496;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
    .adminFilters {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        height: auto;
    }
    .adminFilters .search-form,
    .adminFilters .adminFilterButton,
    .adminFilterItem {
        margin-bottom: 10px;
    }
}

.adminFilters .active{
    color: #000;
    padding-bottom: 3px;
    border-bottom: 2px solid #2f5496;
}
.adminFilters a:hover {
    cursor: pointer;
}
.adminFilterDatepicker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 35%;
}
.adminFilterDatepicker .datepicker,
.adminFilterDatepicker .adminReviewdatepicker {
    max-width: 45%;
}
@media screen and (max-width: 767px) {
    .adminFilterDatepicker {
        max-width: 70%;
    }
}
@media screen and (max-width: 480px) {
    .adminFilterDatepicker .datepicker,
    .adminFilterDatepicker .adminReviewdatepicker,
    .adminFilterDatepicker {
        max-width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}
.adminFilterButton {
    border-color: #a0a3af;
    border-style: dashed;
    border-width: 1px;
    border-radius: 1px;
    max-height: 20px;
    padding: 0 0;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    background: #e7e6e6;
    width: 45px;
    color: #1b1e21;
    font-size: 0.8rem;
    font-weight: 500;
}
.adminFilterButton:hover{
    text-decoration: none;
    color: #1b1e21;
    background: #e7e6e6;
    border-color: #a0a3af;
}
.adminFilterItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@media screen and (max-width: 480px) {
    .adminFilterItem {
        -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
        justify-content: stretch;
    }
    .adminFilters {
        height: auto;
        padding-left: 1%;
        padding-right: 1%;
    }

    .adminFiltersUsers {
        display: block;
    }

    .adminFilters .form-control {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}

.adminFilterItem .input, .adminFilterItem select{
    max-height: 22px;
    min-height: 22px;
    font-size: 0.8rem;
}
.adminFilterItem div {
    padding-right: 5px;
}
.adminSingleReviewButton {
    width: 18%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    height: 150px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 5px 0 0 0;
}
@media screen and (max-width: 767px) {
    .adminSingleReviewButton {
        width: 50%;
    }
}
@media screen and (max-width: 480px) {
    .adminSingleReviewButton {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        height: auto;
        margin-bottom: 5px;
    }
}
.adminSingleReviewButton > *{
    margin: 5px 0 10px 0;
}
.adminSingleReviewInfo span {
    font-size: 15px;
}
.adminSingleReviewInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 20%;
}

.adminSingleReviewContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    width: 80%;
    height: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 5px;
}
@media screen and (max-width: 767px) {
    .adminSingleReviewContent,
    .adminSingleReviewInfo {
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
.adminSingleReviewButton a:hover, .adminSingleReviewButton a {
    text-decoration: none;
    color: #1b1e21;
    /*margin: 10px 10px;*/
}
.createLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*text-align: center;*/
    padding: 5% 2%;
}
.createLogoInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 0 0.8em 0;
}
.createLogoInfo span {
    padding: 0 5px 0 10px;
}
.createLogoImageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 0 0 3% 0;
}
.createLogoFileUpload {
    /*border: 1px dashed #a0a3af;*/
    border-color: #a0a3af;
    border-style: dashed;
    border-width: 1px;
    display: inline-block;
    padding: 3px 6px;
    cursor: pointer;
    background-color: #e7e6e6;
    height: 100%;
    width: 100%;
    max-width: 200px;
    text-align: center;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; /* Добавляем многоточие */
}
@media (max-width: 1366px) {
    #createLogoImagePreview{
        width: 150px;
        height: 150px;
        border: 1px dashed #a0a3af;
        margin: 0 0 5px 0;
    }
}
@media (min-width: 1400px) {
    #createLogoImagePreview{
        width: 200px;
        height: 200px;
        border: 1px dashed #a0a3af;
        margin: 0 0 5px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
#createLogoImagePreview img{
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
.createLogoImagePreviewContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.createLogoTitle{
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.85);
    margin: 0 0 4% 0;
    padding: 0;
    font-family: "ImprintMTShadow";
    font-weight: 500;
}
#deleteLogoForm {
    border: 3px solid #2f5496;
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
}
.moderation-title{
    text-shadow: 1px 1px 5px red;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    font-size: 0.9rem
}

@media screen and (max-width: 767px) {
    .data-table {
        width: auto;
    }
    .data-table td {
        min-width: 70px;
    }
}